<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whut.rockjim.competition_website.mapper.NotificationMapper">

    <resultMap id="BaseResultMap" type="whut.rockjim.competition_website.model.entity.Notification">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="publishId" column="publish_id" jdbcType="BIGINT"/>
            <result property="classification" column="classification" jdbcType="TINYINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="readingNumber" column="reading_number" jdbcType="INTEGER"/>
            <result property="publishDate" column="publish_date" jdbcType="TIMESTAMP"/>
            <result property="context" column="context" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,publish_id,classification,title,
        reading_number,publish_date,
        context
    </sql>
</mapper>
